#textInput {
  background-color: darkseagreen;
  position: fixed;
  top: 1%;
  left: 5%;
  height: 60%;
  width: 45%;
  overflow: scroll;
  margin: 0;

}
#textOutput {
  background-color: azure;
  position: fixed;
  top: 1%;
  left: 52%;
  height: 60%;
  width: 45%;
  overflow: scroll;
  margin: 0;

}
#activePlural {
	position: fixed;
	top: 61%;
	width: 90%;
	height: 20%;
	background-color: gold;
	border: solid 1px black;
}

.plural {
	background-color: rgba(100, 0, 0, 0.2);
}