#textInput {
  background-color: azure;
  position: fixed;
  top: 5%;
  left: 5%;
  height: 80%;
  width: 40%;
  overflow: scroll;

}
#textOutput {
  background-color: darkseagreen;
  position: fixed;
  top: 5%;
  left: 65%;
  height: 80%;
  width: 40%;
  overflow: scroll;

}

.plural {
	background-color: rgba(100, 0, 0, 0.2);
}